name: Trigger B Repo Workflow

on:
  push:
    branches:
      - main
  

jobs:
  trigger-b-repo:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger B Repo Workflow
        run: |
          curl -X POST -H "Accept: application/vnd.github.v3+json" \
               -H "Authorization: token ${{ secrets.LAO_WANG_GITHUB_TOKEN }}" \
               https://api.github.com/repos/Desmond-Dong/hassio-addons/dispatches \
               -d '{"event_type":"external_trigger"}'